@import 'src/style/variables.scss';

.main {
  padding: 15px;
}
.btn {
  margin: 5px;
}
.pic {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  > div {
    width: 100%;
    @media (min-width: $md) {
      width: calc(50% - 5px);
    }
  }
}
.img {
  max-width: 100%;
}
