@import '/src/style/variables';

.self {
  background-color: $footer;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
  @media (min-width: $sm) {
    display: flex;
    > div {
      width: 50%;
    }
  }
}
.map {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.line {
  width: 200px;
  margin-top: 5px;
}
