@import 'src/style/variables.scss';

.main {
  padding: 15px;
}
.info {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.input {
  margin-left: 5px;
  width: auto;
}
.content {
  @media (min-width: $md) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    background-color: #e4ebde;
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.075);
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    @media (min-width: $md) {
      width: calc(50% - 5px);
      margin: 0;
    }
  }
  .wrong {
    background-color: #f7d5d7;
  }
}
.center {
  text-align: center;
}
.fill {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.image {
  text-align: center;
  > img {
    max-width: 100%;
    max-height: 220px;
  }
}
.submitBtn {
  margin-top: 10px;
  text-align: center;
  > button {
    width: 100px;
    height: 50px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
  }
}
