// break-point
$sm: 680px;
$md: 1024px;
$lg: 1200px;

// color
$navabr: #eb8c0f;
$background: #eeeeee;
$footer: #ffe1da;
$white: #ffffff;
$black: #1d1d1d;
$grey-40: #6c757d66;
$light-yellow: #fff2cc;
$pale-yellow: #ffe599;
$light-blue: #cfe2f3;
$pale-blue: #9fc5e8;
$light-green: #d9ead3;
$pale-green: #b6d7a8;
$light-orange: #fce5cd;
$light-red: #f4cccc;
$light-berry: #e6b8af;
$light-cyan: #d0e0e3;
$light-cornflower: #c9daf8;
$light-purple: #d9d2e9;
$light-megenta: #ead1dc;
