// break-point
$sm: 680px;
$md: 1024px;
$lg: 1200px;

// color
$theme: #eb8c0f;
$background: #eeeeee;
$white: #ffffff;
$black: #1d1d1d;
$pink: #ffe1da;
$light-yellow: #fff2cc;
$pale-yellow: #ffe599;
$light-blue: #cfe2f3;
$pale-blue: #9fc5e8;
$light-green: #d9ead3;
$pale-green: #b6d7a8;
