@import '/src/style/variables';

.self {
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  > div {
    flex: 1 0 40%;
    height: 180px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 25px;
    cursor: pointer;
    @media (min-width: $sm) {
      width: 180px;
      flex: unset;
    }
  }
  .yellow {
    background-color: $light-yellow;
  }
  .blue {
    background-color: $light-blue;
  }
  .green {
    background-color: $light-green;
  }
  .orange {
    background-color: $light-orange;
  }
}
